@media (max-width: 765px) {
  #AppContainer {
    max-width: 765px;
  }

  #TopMenuMenuContainer {
    display: none;
  }
  #TopMenuBar {
    max-width: 765px;
  }

  #NavbarContainer {
    max-width: 765px;

  }
  #NavbarEachNav {

  }
  #NavbarStyledImage {
    margin: 0;
  }

  .CarouselContainer {
    max-width: 765px;
    padding: 0 0 10px 20px;
  }
  .FrontPagePhoto {
    max-width: 765px;
  }
}
