/* ============================ DESKTOP Version ============================ */

.pageTitleReader {
  display: none;
}

/* ________________________________ TopMenu ________________________________ */
#topMenuMenuContainer {
  background-color: #f4f4f4;
}

#topMenuBar {
  max-width: 1250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.accessibilityH1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ NavBar _________________________________ */
#navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navBarStyledImage {
  margin: 0 0 5px 20px;
  max-height: 11.875em;
}

.navBarEachNav {
  font-size: 1.308em;
  color: black;
  font-weight: bold;
}

#imageDividerContainer {
  margin-top: 52px;
  height: 100%;
  width: 100%;
}

#imageDivider {
width: 100%;
}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */
#homeMainContainer {
  max-width: 1250px;
  margin: auto;
}

#homeRedContainer {
  margin-top: 52px;
  background-color: #AF3120;
  height: inherit;
}

#homeCarouselContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  max-width: 1166px;
  padding: 45px 0 0 0;
  max-width: 95%;
}

#frontPageImageCarouselContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 100px 0;
  max-height: 600px;
  max-width: 1166px;
}

#frontPageImageCarousel {
  display: inline-block;
}

.frontPageImagePhoto {
  max-height: 600px;
  max-width: 1166px;
}

#homeContactUsLink {
  padding: 60px;
}

#homeContactUs {
  background-color: #AF3120;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  margin: 28px 25px 0 0;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


#homeContactArea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

#homeContactAreaLeft {
  flex: 1;
}

#homeSectionHeader {
  color: white;
  padding: 80px 0 0 25px;
  margin-bottom: 5px;
  font-weight: normal;
}

#homeSection {
  color: white;
  padding: 0px 25px 50px 25px;
  margin: 0;
  font-weight: normal;
}
.homeSubTitle {
  font-size: 22px;
  font-weight: bold;
}

.homeSubText {
  color: #494949;
  font-size: 16px;
}

#homeInfo {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#homeVisits {
  width: 30%;
  margin-right: 15px;
}

#homeLiving {
  width: 30%;
  margin-right: 15px;
}

#homeHomes {
  width: 30%;
  margin-right: 15px;
}

.homeIcon {
  color: #AF3120;
}

.homeStyledLink {
  font-size: 15px;
  color: #AF3120;
}

#testimonialsFullSection {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
  max-width: 1170px;
  width: 95%;
}

#testimonialsTitle {
  font-size: 24px;
  font-weight: bold;
}

#testimonialsTopPart {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
}

#testimonialsName {
  padding: 15px 0 0 30px;
}

#testimonialsQuoteBox {
  border-radius: 5px;
  background-color: #DEDEDF;
  min-height: 50px;
  font-size: 15px;
}

#testimonialsQuote {
  max-width: 1100px;
  padding: 15px 15px 15px 15px;
}

#testimonialsDividerLine {
  margin: 6px 0 6px 3px;
}

#testimonialsCarouselStyle {
  min-height: 250px;
}

#homeHalfWhiteSpace {
  height: 50px;
}

#homeWhiteSpace {
  height: 120px;
}
/* -------------------------------------------------------------------------- */

/* ________________________________ About Us ________________________________ */
#aboutUsMainContainer {
  max-width: 1175px;
  margin: auto;
  width: 95%;
}

#aboutUsTitle {
  padding-top: 38px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
#aboutUsFlexBox {
  display: flex;
  flex-direction: row;
}

#aboutUsAllText {
  display: flex;
  flex-direction: column;
}

#aboutUsPhoto {
  padding: 30px 30px 20px 20px;
  width: 900px;
}

.aboutUsSubTitle {
  padding-top: 5px;
  font-weight: bold;
}

.aboutUsSubTextContainer {
  padding-left: 20px;
}

.aboutUsSubText {
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.aboutUsSubTextBottom {
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.aboutUsContacts {
  padding-left: 20px;
}

.aboutUsWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Our Providers _____________________________ */
#ourProvidersMainContainer {
  max-width: 1250px;
  margin: auto;
}

#ourProvidersTitle {
  font-weight: bold;
  padding-top: 5px;
}

#ourProvidersFullSection {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: 1250px;
  width: 100%;
}

#ourProvidersProfile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 4px 0 4px;
  max-height: 500px;
}

#ourProvidersImage {
  height: 290px;
  max-height: 290px;
  width: 100%;
}

#ourProvidersName {
  display: block;
  font-size: 16px;
  width: 100%;
  color: #AF3120;
  padding: 0 2px;
}

#ourProvidersShortBio {
  width: 100%;
  padding: 0 5px;
}

#ourProvidersInsideName {
  font-size: 30px;
  margin: 10px 0;
  padding-left: 10px;
}

#ourProviderContent {
  display: flex;
  flex-flow: row wrap;
  margin: 0 20px 20px 20px;
}

#ourProvidersInsideImage {
  float: left;
  height: 100%;
  width: 20%;
}

#ourProvidersInsideBio {
  display: block;
  float: right;
  font-size: 17px;
  margin: 5px 0 0 15px;
  height: 100%;
  max-height: 225px;
  width: 75%;
  line-height: 25px;
}

#ourProvidersInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ourProvidersInfoTitle {
  font-size: 22px;
  font-weight: bold;
}

#ourProvidersEduContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ourProvidersEdu {
  font-size: 16px;
  margin-bottom: 5px;
}

#ourProvidersIntContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 20px;
}

.ourProvidersInt {
  font-size: 16px;
  margin-bottom: 5px;
}

#ourProvidersBottomSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#ourProvidersIhapSection {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  column-count: 3;
}

#ourProvidersIhap {
  padding: 10px 0 0 10px;
  height: 50px;
  width: 220px;
  border: solid .5px;
  height: 100%;
}

#ourProvidersState {
  font-size: 19px;
}

#ourProvidersTopWhiteSpace {
  height: 55px;
}

#ourProvidersHalfWhiteSpace {
  height: 40px;
}

#ourProvidersWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* ______________________________ Our Services ______________________________ */
#servicesMainContainer {
  max-width: 1250px;
  margin: auto;
}

#servicesSubSection {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  padding-top: 65px;
  max-width: 1200px;
  height: 340px;
}

#servicesInfo {
  display: flex;
  flex-direction: column;
  max-width: 625px;
  padding-left: 15px;
}

.servicesSubTextContainer {
  padding-left: 40px;
}

.servicesSubText {
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.servicesTitle {
  font-weight: bold;
  padding-top: 5px;
}

.servicesSubTitle {
  margin-top: 9px;
  padding-left: 20px;
  font-size: 20px;
}

.servicesPointsTitle {
  font-size: 15px;
  padding-left: 20px;
}

#servicesPointsContainer {
  column-count: 2;
  padding-left: 100px;
}

.servicesPointText {
  color: #515151;
  font-weight: normal;
  font-size: 17px;
}

#servicesQuarterWhiteSpace {
  height: 20px;
}

#servicesHalfWhiteSpace {
  height: 40px;
}

#servicesWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Contact Field _____________________________ */
#contactFieldLoading {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 60px;
}

#contactFieldError {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 60px;
}

#contactFieldSuccess {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin-left: 60px;
}

#contactFieldInputField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 0 0 100px;
  min-width: 300px;
  max-width: 350px;
  min-height: 275px;
}

#contactFieldNames {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
}

#contactFieldFirst {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  font-weight: bold;
}

#contactFieldLast {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  font-weight: bold;
}

#contactFieldEmail {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldPhone {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldMessage {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

#contactFieldRequired {
  float: right;
}
/* -------------------------------------------------------------------------- */

/* ___________________________ Our Privacy Policy ___________________________ */
#privacyMainContainer {
  max-width: 1250px;
  margin: auto;
}

#privacyTitleTop {
  font-weight: bold;
  padding-top: 65px;
}

.privacyTitle {
  font-weight: bold;
}

.privacySubTextContainer {
  padding-left: 20px;
}

.privacySubText {
  color: #494949;
  font-weight: normal;
  font-size: 15px;
}

.privacyPolicy {
  color: #494949;
  font-weight: normal;
  font-size: 15px;
  padding-left: 20px;
}

#privacyAddressContainer {
  margin: 10px 0;
}

.privacyAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px 0 14px 0;
  font-weight: bold;
}

.privacyLink {
  color: black;
}

#privacyWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _______________________________ Contact Us _______________________________ */
#contactUsMainContainer {
  max-width: 1250px;
  margin: auto;
}

#contactUsContactInfoAndPhoto {

}

#contactUsInfoContainer {

}

#contactUsIcon {
  color: #AF3120;
}

#contactUsOffice {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 150px;
}

#contactUsFax {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 150px;
}

#contactUsFemaleImage {
  padding: 10px 0 0 130px;
}

#contactUsProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  max-width: 100%;
  flex-wrap: wrap;
}

#contactUsProfile {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  padding-bottom: 20px;
}

#contactUsNames {
  font-size: 14.5px;
  padding-left: 6px;
  margin-bottom: 0px;
  max-width: 350px;
}

#contactUsMapInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
  padding-bottom: 0;
}

.contactUsMap {
  border-style: solid;
  border-width: 1px;
  border-color: #5A7584;
  margin-right: 105px;
  width: 500px;
  height: 400px;
}

#contactUsOfficeInfo {
  font-weight: normal;
  font-size: 17px;
}

#contactUsFaxInfo {
  font-weight: normal;
  font-size: 17px;
}

.contactUsProviderInfo {
  font-size: 14px;
  max-width: 350px;
}

#contactUsLeft {
  padding-right: 20px;
}

#contactUsMiddle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px 0 20px;
}

#contactUsRight {
  padding-left: 20px;
}

#contactUsInsideInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35px;
}

#contactUsContact {
  display: flex;
  flex-direction: column;
}

#contactUsDividerProfile {
  margin: 6px 0 6px 3px;
}

#contactUsInfoBtn {
  font-size: 13px;
  font-weight: bold;
  color: #AF3120;
  padding-left: 10px;
}

#contactUsSubTitle {
  padding: 5px 0 14px 10px;
}

#contactUsSubH3 {
  font-weight: bold;
  font-size: 23px;
}

#contactUsSubText {
  padding-left: 40px;
}

#contactUsSubP{
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.contactUsDirections {
  padding-left: 20px;
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

#contactUsTopWhiteSpace {
  height: 40px;
}

#contactUsWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ Footer _________________________________ */
#footerContainer {
  background-color: #1C1C1C;
  height: 100px;
  width: 100%;
  bottom: 0;
}

#footerMainContainer {
  max-width: 1250px;
  margin: auto;
}

#footerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerCopyright {
  font-size: 14px;
  padding: 25px 0 0 30px;
  color: #878787;
}

#footerLinkCopyright {
  font-size: 14px;
}

#footerNavContainer {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#footerNav {
  margin-right: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.footerEachNav {
  font-size: 14px;
  color: white;
}
/* -------------------------------------------------------------------------- */
#bottomMenuMainContainer {
  display: none;
}
/* ========================================================================== */



/* ============================= TABLET Version ============================= */
@media (min-width: 426px) and (max-width: 769px) {
#appContainer {
  max-width: 765px;
}
/* ________________________________ TopMenu ________________________________ */
#topMenuMenuContainer {
  display: none;
}

#topMenuBar {
  max-width: 765px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ NavBar _________________________________ */
#navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  max-width: 765px;
}

#navBarStyledImage {
  margin: 2px 0 1px 0;
  max-height: 13em;
}

#navBarNav {
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.4em;
  max-width: 350px;
  margin: 5px 0;
}

.navBarEachNav {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
}

#imageDividerContainer {
  margin-top: 45px;
  height: 100%;
  width: 100%;
}

#imageDivider {

}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */
#homeMainContainer {
  max-width: 765px;
  margin: auto;
}

#homeRedContainer {
  background-color: #AF3120;
  height: inherit;
}

#homeCarouselContainer {
  text-align: center;
  max-height: 600px;
  max-width: 765px;
  padding: 25px 0 0 0;
  padding-left: 0px;
}

#frontPageImageCarouselContainer {
  padding: 0 15px 0 15px;
  text-align: center;
  max-height: 600px;
  max-width: 765px;
}

#frontPageImageCarousel {
  display: inline-block;
}

.frontPageImagePhoto {
  max-height: 600px;
  max-width: 1166px;
}

#homeContactUsLink {
  text-align: center;
  padding: 20px 0 35px 0;
}

#homeContactUs {
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#homeContactArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#homeContactAreaLeft {
  flex: 1;
}

#homeSectionHeader {
  text-align: center;
  padding: 20px 20px 0 20px;
  margin-bottom: 5px;
  font-size: 27px;
}

#homeSection {
  text-align: center;
  padding: 0px 30px 0 30px;
  margin: 0;
  font-size: 17px;
}

.homeSubTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 100px;
}

.homeSubText {
  color: #494949;
  font-size: 16px;
}

#homeInfo {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#homeVisits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px 0px 10px 2px;
}

#homeLiving {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px 0px 10px 2px;
}

#homeHomes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px 0px 10px 2px;
}

.homeIcon {
  color: #AF3120;
  float: left;
}

#homeHomeIcon {
  max-height: 50px;
}

.homeStyledLink {
  font-size: 15px;
  color: #AF3120;
}

#homeHalfWhiteSpace {
  height: 25px;
}

#testimonialsFullSection {
  max-height: 250px;
  max-width: 765px;
}

#testimonialsTitle {
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
}

#testimonialsTopPart {
  display: flex;
  flex-direction: column;
  max-width: 765px;
}

#testimonialsContainer {
  text-align: center;
}

#testimonialsName {
  float: left;
  padding: 10px 0 0 20px;
}

#testimonialsQuoteBox {
  display: inline-block;
  border-radius: 5px;
  background-color: #DEDEDF;
  padding-right: 10px;
  min-height: 50px;
  font-size: 15px;
  width: 95%;
}

#testimonialsQuote {
  max-width: 765px;
  padding: 0;
  margin: 10px;
}

#testimonialsDividerLine {
  margin: 6px 0 6px 3px;
}

#testimonialsCarouselStyle {
  min-height: 250px;
}

#homeWhiteSpace {
  height: 100px;
}
/* -------------------------------------------------------------------------- */

/* ________________________________ About Us ________________________________ */
#aboutUsMainContainer {
  max-width: 765px;
  margin: auto;
  width: 95%;
}

#aboutUsTitleContainer {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#aboutUsTitle {
  display: inline-block;
  font-weight: bold;
  font-size: 23px;
}

#aboutUsFlexBox {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px 0 10px;
  float: left;
}

#aboutUsAllText {
  display: flex;
  flex-direction: column;
  float: left;
}

#aboutUsPhoto {
  padding: 20px 10px 30px 10px;
  width: 100%;
  min-width: 350px;
  max-height: 320px;
  height: 100%;
  margin-bottom: 125px;

}

.aboutUsSubTitle {
  padding-top: 5px;
  font-weight: bold;
  font-size: 22px;
}

.aboutUsSubTextContainer {
  padding-left: 10px;
}

.aboutUsSubText {
  color: #515151;
  font-weight: normal;
  font-size: 15px;
}

.aboutUsSubTextBottom {
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.aboutUsContacts {
  padding-left: 10px;
}

.aboutUsWhiteSpace {
  height: 40px;
}

#aboutUsWhiteSpaceBottom {
  position: absolute;
  height: 100px;
  bottom: 0;
  background-color: black;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Our Providers _____________________________ */
#ourProvidersMainContainer {
  max-width: 765px;
  margin: auto;
}

#ourProvidersTitle {
  font-weight: bold;
  padding: 5px 0 0 10px;
  font-size: 23px;
}

#ourProvidersFullSection {
  display: flex;
  flex-flow: wrap;
}

#ourProvidersProfile {
  display: flex;
  flex-flow: row wrap;
  column-count: 3;
  padding: 10px 5px 20px 5px;
  height: 100%;
  max-height: 700px;
  max-width: 33%;
}

#ourProvidersImage {
  height: 100%;
  max-height: 350px;
  width: 100%;
  max-width: 252px;
}

#ourProvidersName {
  display: block;
  font-size: 17px;
  color: #AF3120;
  padding-bottom: 0px;
}

#ourProvidersShortBio {
  font-size: 15px;
}

#ourProvidersInsideName {
  font-size: 23px;
  margin: 10px 0;
  padding-left: 10px;
}

#ourProviderContent {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px 10px 10px;
}

#ourProvidersInsideImage {
  display: none;
  float: left;
  height: 100%;
  width: 35%;
}

#ourProvidersInsideBio {
  display: block;
  float: right;
  font-size: 17px;
  margin: 0 0 0 0px;
  max-height: 350px;
  height: 100%;
  width: 100%;
  line-height: 18px;
}

#ourProvidersInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ourProvidersInfoTitle {
  font-size: 16px;
  font-weight: bold;
}

#ourProvidersEduContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ourProvidersEdu {
  font-size: 16px;
  margin-bottom: 5px;
}

#ourProvidersIntContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
}

.ourProvidersInt {
  font-size: 16px;
  margin-bottom: 5px;
}

#ourProvidersBottomSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-count: 4;
}

#ourProvidersNamesState {
  display: block;
  font-size: 14px
}

#ourProvidersIhapSection {
  display: flex;
  flex-flow: row wrap;
  align-self: none;
  padding: 10px;
  column-count: 4;
}

#ourProvidersIhap {
  padding: 10px 0 0 10px;
  width: 170px;
  border: solid .5px;
  height: 100%;
}

#ourProvidersState {
  font-size: 17px;
}

#ourProvidersTopWhiteSpace {
  height: 30px;
}

#ourProvidersHalfWhiteSpace {
  height: 20px;
}

#ourProvidersWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* ______________________________ Our Services ______________________________ */
#servicesMainContainer {
  max-width: 765px;
  min-width: 615px;
  margin: auto;
  padding: 0 10px 0 10px;
}

#servicesSubSection {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 35px;
  max-width: 765px;
}

#servicesInfo {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-left: 0px;
}

.servicesSubTextContainer {
  padding-left: 15px;
}

.servicesSubText {
  color: #515151;
  font-weight: normal;
  font-size: 18px;
}

.servicesTitle {
  font-weight: bold;
  font-size: 22px;
  padding: 5px 0 0 10px;
}

#ourProvidersImage {

}

.servicesSubTitle {
  margin-top: 9px;
  padding-left: 10px;
  font-size: 21px;
}

.servicesPointsTitle {
  padding-left: 10px;
  color: #515151;
  font-weight: normal;
  font-size: 18px;
}

#servicesPointsContainer {
  column-count: 2;
  padding-left: 0px;
}

.servicesPointText {
  color: #515151;
  font-weight: normal;
  font-size: 17px;
}

#servicesQuarterWhiteSpace {
  height: 0px;
}

#servicesHalfWhiteSpace {
  height: 20px;
}

#servicesWhiteSpace {
  height: 100px;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Contact Field _____________________________ */
#contactFieldMainContainer {
  min-height: 310px;
  min-width: 380px;
  width: 410px;
}

#contactFieldLoading {
  display: flex;
  flex-wrap: row wrap;
  font-size: 18px;
  margin: 20px 0 0 20px;
}

#contactFieldError {
  display: flex;
  flex-wrap: row wrap;
  font-size: 18px;
  margin: 20px 0 0 10px;
}

#contactFieldSuccess {
  display: flex;
  flex-wrap: row wrap;
  font-size: 18px;
  margin: 20px 0 0 10px;
}

#contactFieldInputField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  min-width: 310px;
  width: 400px;
  min-height: 275px;
}

#contactFieldNames {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
  max-width: 300px;
}

#contactFieldFirst {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  max-width: 150px;
  font-weight: bold;
}

#contactFieldLast {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  max-width: 150px;
  font-weight: bold;
}

#contactFieldEmail {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldPhone {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldMessage {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
}

#contactFieldRequired {
  float: right;
}
/* -------------------------------------------------------------------------- */

/* ___________________________ Our Privacy Policy ___________________________ */
#privacyMainContainer {
  max-width: 765px;
  margin: auto;
  padding: 0 10px 0 10px;
}

#privacyTitleTop {
  font-weight: bold;
  padding-top: 35px;
  font-size: 23px;
}

.privacyTitle {
  font-weight: bold;
  font-size: 23px;
}

.privacySubTextContainer {
  padding-left: 10px;
}

.privacySubText {
  color: #494949;
  font-weight: normal;
  font-size: 17px;
}

.privacyPolicy {
  color: #494949;
  font-weight: normal;
  font-size: 17px;
  padding-left: 10px;
}

#privacyAddressContainer {
  margin: 10px 0;
}

.privacyAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px 0 14px 0;
  font-weight: bold;
}

#privacyWhiteSpace {
  height: 90px;
}
/* -------------------------------------------------------------------------- */

/* _______________________________ Contact Us _______________________________ */
#contactUsMainContainer {
  max-width: 765px;
  margin: auto;
}

#contactUsMapInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 5px;
}

#contactUsContactInfoAndPhoto {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contactUsInfoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 20px 30px;
}

#contactUsIcon {
  width: 20px;
  height: auto;
  color: #AF3120;
}

#contactUsOffice {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 0;
}

#contactUsFax {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 0;
}

#contactUsFemaleImage {
  width: 300px;
  height: 256px;
  padding: 0;
  margin: 0 0 10px 20px;
}

#contactUsProfileContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5px 0 0 0px;
  margin-left: 60px;
  min-width: 700px;
  max-width: 100%;
}

#contactUsProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  max-width: 300px;
  padding-left: 30px;
  padding-bottom: 20px;
}

#contactUsNames {
  font-size: 17px;
  padding-left: 6px;
  margin-bottom: 0px;
  max-width: 665px;
}

.contactUsMap {
  border-style: solid;
  border-width: 1px;
  border-color: #5A7584;
  margin: 28px 20px 0 0;
  width: 100%;
  height: 300px;
}

#contactUsOfficeInfo {
  font-weight: normal;
  font-size: 15px;
}

#contactUsFaxInfo {
  font-weight: normal;
  font-size: 15px;
}

.contactUsProviderInfo {
  font-size: 17px;
  max-width: 600px;
}

#contactUsLeft {
  padding-right: 0px;
}

#contactUsMiddle {
  padding: 20px 0 20px 10px;
}

#contactUsRight {
  padding-left: 0px;
}

#contactUsInsideInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  max-width: 765px;
}

#contactUsContact {
  display: flex;
  flex-direction: column;
}

#contactUsDividerProfile {
  margin: 6px 0 3px 3px;
}

#contactUsInfoBtn {
  font-size: 13px;
  font-weight: bold;
  color: #AF3120;
  padding-left: 10px;
}

#contactUsSubTitle {
  padding: 5px 10px 14px 10px;
}

#contactUsSubH3 {
  font-weight: bold;
  font-size: 20px;
}

#contactUsSubText {
  padding: 0 10px 0 20px;
}

#contactUsSubP{
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.contactUsDirections {
  padding-left: 10px;
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

#contactUsTopWhiteSpace {
  height: 40px;
}

#contactUsWhiteSpace {
  height: 100px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ Footer _________________________________ */
#footerContainer {
  display: none;
  background-color: #1C1C1C;
  height: 100px;
  width: 100%;
  bottom: 0;
}

#footerMainContainer {
  max-width: 1250px;
  margin: auto;
}

#footerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerCopyright {
  font-size: 12px;
  padding: 15px 0 0 15px;
  color: #878787;
}

#footerLinkCopyright {
  font-size: 12px;
}

#footerNavContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

#footerNav {
  margin-right: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.footerEachNav {
  font-size: 12px;
  color: white;
}
/* -------------------------------------------------------------------------- */
#bottomMenuMainContainer {
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 60px;
  width: 100%;
}

.iconContainers {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.iconContainers:not(:last-child) {
  height: 100%;
  border-right: 1px solid #c6c6c6;
}

.icons {
  color: black;
}

.bottomMenuText {
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  width: 80px;
  margin-left: -30px;
  line-height: 17px;
}


}
/* ========================================================================== */



/* ============================= MOBILE VERSION ============================= */
@media (max-width: 426px) {

/* ________________________________ TopMenu ________________________________ */
#topMenuMenuContainer {
  display: none;
}

#topMenuBar {
  max-width: 426px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ NavBar _________________________________ */
#navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navBarStyledImage {
  margin: 2px 0 1px 0;
  max-height: 10em;
}

#navBarNav {
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.4em;
  max-width: 350px;
  margin: 5px 0;
}

.navBarEachNav {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
}

#imageDividerContainer {
  margin-top: 35px;
  height: 100%;
  width: 100%;
}

#imageDivider {

}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */
#homeMainContainer {
  max-width: 426px;
  margin: auto;
}

#homeRedContainer {
  background-color: #AF3120;
  height: inherit;
}

#homeCarouselContainer {
  text-align: center;
  max-height: 600px;
  max-width: 426px;
  padding: 25px 0 0 0;
  padding-left: 0px;
}

#frontPageImageCarouselContainer {
  padding: 0 15px 0 15px;
  text-align: center;
  max-height: 600px;
  max-width: 426px;
}

#frontPageImageCarousel {
  display: inline-block;
}

.frontPageImagePhoto {
  max-height: 600px;
  max-width: 1166px;
}

#homeContactUsLink {
  text-align: center;
  padding: 20px 0 35px 0;
}

#homeContactUs {
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#homeContactArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#homeContactAreaLeft {
  flex: 1;
}

#homeSectionHeader {
  text-align: center;
  padding: 20px 20px 0 20px;
  margin-bottom: 5px;
  font-size: 25px;
}

#homeSection {
  text-align: center;
  padding: 0px 30px 0 30px;
  margin: 0;
  font-size: 16px;
}

.homeSubTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 100px;
}

.homeSubText {
  color: #494949;
  font-size: 16px;
}

#homeInfo {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#homeVisits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px 0px 10px 2px;
}

#homeLiving {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px 0px 10px 2px;
}

#homeHomes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px 0px 10px 2px;
}

.homeIcon {
  color: #AF3120;
  float: left;
}

#homeHomeIcon {
  max-height: 50px;
}

.homeStyledLink {
  font-size: 15px;
  color: #AF3120;
}

#homeHalfWhiteSpace {
  height: 25px;
}

#testimonialsFullSection {
  max-height: 250px;
  max-width: 410px;
}

#testimonialsTitle {
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
}

#testimonialsTopPart {
  display: flex;
  flex-direction: column;
  max-width: 426px;
}

#testimonialsContainer {
  text-align: center;
}

#testimonialsName {
  float: left;
  padding: 10px 0 0 20px;
}

#testimonialsQuoteBox {
  display: inline-block;
  border-radius: 5px;
  background-color: #DEDEDF;
  padding-right: 10px;
  min-height: 50px;
  font-size: 15px;
  width: 95%;
}

#testimonialsQuote {
  max-width: 426px;
  padding: 0;
  margin: 5px;
}

#testimonialsDividerLine {
  margin: 6px 0 6px 3px;
}

#testimonialsCarouselStyle {
  min-height: 250px;
}

#homeWhiteSpace {
  height: 125px;
}
/* -------------------------------------------------------------------------- */

/* ________________________________ About Us ________________________________ */
#aboutUsMainContainer {
  max-width: 426px;
  margin: auto;
}

#aboutUsTitleContainer {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#aboutUsTitle {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

#aboutUsFlexBox {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

#aboutUsAllText {
  display: flex;
  flex-direction: column;
}

#aboutUsPhoto {
  padding: 0 10px 30px 10px;
  width: 100%;
  min-width: 310px;
  max-height: 282px;
  height: 100%;
}

.aboutUsSubTitle {
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
}

.aboutUsSubTextContainer {
  padding-left: 10px;
}

.aboutUsSubText {
  color: #515151;
  font-weight: normal;
  font-size: 12px;
}

.aboutUsSubTextBottom {
  color: #515151;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 0;
}

.aboutUsContacts {
  padding-left: 10px;
}

.aboutUsWhiteSpace {
  height: 40px;
}

#aboutUsWhiteSpaceBottom {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Our Providers _____________________________ */
#ourProvidersMainContainer {
  max-width: 426px;
  margin: auto;
}

#ourProvidersTitle {
  font-weight: bold;
  padding: 5px 0 0 10px;
  font-size: 20px;
}

#ourProvidersFullSection {
  display: flex;
  flex-flow: wrap;
}

#ourProvidersProfile {
  display: flex;
  flex-flow: row wrap;
  column-count: 2;
  padding: 10px 5px 20px 5px;
  height: 100%;
  max-height: 700px;
  max-width: 50%;
}

#ourProvidersImage {
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 202px;
}

#ourProvidersName {
  display: block;
  font-size: 15px;
  color: #AF3120;
  padding-bottom: 0px;
}

#ourProvidersShortBio {
  font-size: 14px;
}

#ourProvidersInsideName {
  font-size: 22px;
  margin: 10px 0;
  padding-left: 10px;
}

#ourProviderContent {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px 10px 10px;
}

#ourProvidersInsideImage {
  display: none;
  float: left;
  height: 100%;
  width: 35%;
}

#ourProvidersInsideBio {
  display: block;
  float: right;
  font-size: 14px;
  margin: 0 0 0 0px;
  max-height: 350px;
  height: 100%;
  width: 100%;
  line-height: 18px;
}

#ourProvidersInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ourProvidersInfoTitle {
  font-size: 16px;
  font-weight: bold;
}

#ourProvidersEduContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ourProvidersEdu {
  font-size: 14px;
  margin-bottom: 5px;
}

#ourProvidersIntContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
}

.ourProvidersInt {
  font-size: 14px;
  margin-bottom: 5px;
}

#ourProvidersBottomSection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  column-count: 2;
}

#ourProvidersNamesState {
  display: block;
  font-size: 14px
}

#ourProvidersIhapSection {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  padding: 10px;
  column-count: 3;
}

#ourProvidersIhap {
  padding: 10px 0 0 10px;
  width: 190px;
  border: solid .5px;
  height: 100%;
}

#ourProvidersState {
  font-size: 17px;
}

#ourProvidersTopWhiteSpace {
  height: 30px;
}

#ourProvidersHalfWhiteSpace {
  height: 20px;
}

#ourProvidersWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* ______________________________ Our Services ______________________________ */
#servicesMainContainer {
  max-width: 426px;
  min-width: 320px;
  margin: auto;
  padding: 0 10px 0 10px;
}

#servicesSubSection {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 35px;
  max-width: 400px
}

#servicesInfo {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-left: 0px;
}

.servicesSubTextContainer {
  padding-left: 15px;
}

.servicesSubText {
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.servicesTitle {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0 0 10px;
}

#ourProvidersImage {

}

.servicesSubTitle {
  margin-top: 9px;
  padding-left: 10px;
  font-size: 20px;
}

.servicesPointsTitle {
  padding-left: 10px;
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

#servicesPointsContainer {
  column-count: 2;
  padding-left: 0px;
}

.servicesPointText {
  color: #515151;
  font-weight: normal;
  font-size: 14px;
}

#servicesQuarterWhiteSpace {
  height: 150px;
}

#servicesHalfWhiteSpace {
  height: 20px;
}

#servicesWhiteSpace {
  height: 100px;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Contact Field _____________________________ */
#contactFieldMainContainer {
  display: flex;
  min-height: 310px;
  min-width: 300px;
  max-width: 400px;
}

#contactFieldLoading {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin: 20px 0 0 20px;
}

#contactFieldError {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin: 20px 0 0 10px;
}

#contactFieldSuccess {
  display: flex;
  flex-wrap: row wrap;
  font-size: 17px;
  margin: 20px 0 0 10px;
}

#contactFieldInputField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 0 0;
  min-width: 300px;
  max-width: 425px;
  min-height: 275px;
}

#contactFieldNames {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
}

#contactFieldFirst {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  font-weight: bold;
}

#contactFieldLast {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  font-weight: bold;
}

#contactFieldEmail {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldPhone {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldMessage {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: bold;
}

#contactFieldSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

#contactFieldRequired {
  float: right;
}
/* -------------------------------------------------------------------------- */

/* ___________________________ Our Privacy Policy ___________________________ */
#privacyMainContainer {
  max-width: 426px;
  margin: auto;
  padding: 0 10px 0 10px;
}

#privacyTitleTop {
  font-weight: bold;
  padding-top: 35px;
  font-size: 20px;
}

.privacyTitle {
  font-weight: bold;
  font-size: 20px;
}

.privacySubTextContainer {
  padding-left: 10px;
}

.privacySubText {
  color: #494949;
  font-weight: normal;
  font-size: 15px;
}

.privacyPolicy {
  color: #494949;
  font-weight: normal;
  font-size: 15px;
  padding-left: 10px;
}

#privacyAddressContainer {
  margin: 10px 0;
}

.privacyAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px 0 14px 0;
  font-weight: bold;
}

#privacyWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _______________________________ Contact Us _______________________________ */
#contactUsMainContainer {
  max-width: 426px;
  margin: auto;
}

#contactUsContactInfoAndPhoto {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#contactUsInfoContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
}

#contactUsIcon {
  width: 20px;
  height: auto;
  color: #AF3120;
}

#contactUsOffice {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

#contactUsFax {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
}

#contactUsFemaleImage {
  width: 200px;
  height: 156px;
  padding: 0px 0 0 0px;
}

#contactUsProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 0 0 10px;
  min-width: 350px;
  max-width: 400px;
  flex-wrap: nowrap;
}

#contactUsProfile {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  max-width: 300px;
  padding-bottom: 20px;
}

#contactUsNames {
  font-size: 14.5px;
  padding-left: 6px;
  margin-bottom: 0px;
  max-width: 350px;
}

#contactUsMapInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 5px;
}

.contactUsMap {
  border-style: solid;
  border-width: 1px;
  border-color: #5A7584;
  margin: 15px 0 0 0;
  width: 100%;
  height: 300px;
}

#contactUsOfficeInfo {
  font-weight: normal;
  font-size: 15px;
}

#contactUsFaxInfo {
  font-weight: normal;
  font-size: 15px;
}

.contactUsProviderInfo {
  font-size: 17px;
  max-width: 300px;
}

#contactUsLeft {
  padding-right: 0px;
}

#contactUsMiddle {
  padding: 20px 0 20px 10px;
}

#contactUsRight {
  padding-left: 0px;
}

#contactUsInsideInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  max-width: 350px;
}

#contactUsContact {
  display: flex;
  flex-direction: column;
}

#contactUsDividerProfile {
  margin: 6px 0 3px 3px;
}

#contactUsInfoBtn {
  font-size: 13px;
  font-weight: bold;
  color: #AF3120;
  padding-left: 10px;
}

#contactUsSubTitle {
  padding: 5px 10px 14px 10px;
}

#contactUsSubH3 {
  font-weight: bold;
  font-size: 20px;
}

#contactUsSubText {
  padding: 0 10px 0 20px;
}

#contactUsSubP{
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.contactUsDirections {
  padding-left: 10px;
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

#contactUsTopWhiteSpace {
  height: 40px;
}

#contactUsWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ Footer _________________________________ */
#footerContainer {
  display: none;
  background-color: #1C1C1C;
  height: 100px;
  width: 100%;
  bottom: 0;
}

#footerMainContainer {
  max-width: 1250px;
  margin: auto;
}

#footerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerCopyright {
  font-size: 12px;
  padding: 15px 0 0 15px;
  color: #878787;
}

#footerLinkCopyright {
  font-size: 12px;
}

#footerNavContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

#footerNav {
  margin-right: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.footerEachNav {
  font-size: 12px;
  color: white;
}
/* -------------------------------------------------------------------------- */
#bottomMenuMainContainer {
  background-color: white;
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 60px;
  width: 100%;
}

.iconContainers {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.iconContainers:not(:last-child) {
  height: 100%;
  border-right: 1px solid #c6c6c6;
}

.icons {
  color: black;
}

.bottomMenuText {
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  width: 60px;
  margin-left: -20px;
}

}
