/* ============================ DESKTOP Version ============================ */

/* ________________________________ TopMenu ________________________________ */
#topMenuMenuContainer {
  background-color: #f4f4f4;
}

#topMenuBar {
  max-width: 1250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ NavBar _________________________________ */
#navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navBarStyledImage {
  margin: 0 0 5px 20px;
  max-height: 11.875em;
}

.navBarEachNav {
  font-size: 1.308em;
  color: black;
  font-weight: bold;
}

#imageDividerContainer {
  height: 100%;
  width: 100%;
}

#imageDivider {

}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */
#homeMainContainer {
  max-width: 1250px;
  margin: auto;
}

#homeRedContainer {
  background-color: #AF3120;
  height: 850px;
}

#homeCarouselContainer {
  max-height: 600px;
  max-width: 1166px;
  padding: 45px 0 0 0;
}

#homeContactUsLink {
  padding: 60px;
}

#homeContactUs {
  background-color: #AF3120;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  margin: 28px 25px 0 0;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


#homeContactArea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

#homeContactAreaLeft {
  flex: 1;
}

#homeSectionHeader {
  color: white;
  padding: 80px 0 0 25px;
  margin-bottom: 5px;
  font-weight: normal;
}

#homeSection {
  color: white;
  padding: 0px 25px;
  margin: 0;
  font-weight: normal;
}
.homeSubTitle {
  font-size: 22px;
  font-weight: bold;
}

.homeSubText {
  color: #494949;
  font-size: 16px;
}

#homeInfo {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#homeVisits {
  width: 30%;
  margin-right: 15px;
}

#homeLiving {
  width: 30%;
  margin-right: 15px;
}

#homeHomes {
  width: 30%;
  margin-right: 15px;
}

.homeIcon {
  color: #AF3120;
}

.homeStyledLink {
  font-size: 15px;
  color: #AF3120;
}


#homeHalfWhiteSpace {
  height: 50px;
}

#homeWhiteSpace {
  height: 120px;
}
/* -------------------------------------------------------------------------- */

/* ________________________________ About Us ________________________________ */
#aboutUsMainContainer {
  max-width: 1175px;
  margin: auto;
}

#aboutUsTitle {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
#aboutUsFlexBox {
  display: flex;
  flex-direction: row;
}

#aboutUsAllText {
  display: flex;
  flex-direction: column;
}

#aboutUsPhoto {
  padding: 30px 30px 20px 20px;
  width: 900px;
}

.aboutUsSubTitle {
  padding-top: 5px;
  font-weight: bold;
}

.aboutUsSubTextContainer {
  padding-left: 20px;
}

.aboutUsSubText {
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.aboutUsContacts {
  padding-left: 20px;
}

.aboutUsWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Our Providers _____________________________ */
#ourProvidersMainContainer {
  max-width: 1250px;
  margin: auto;
}

#ourProvidersTitle {
  font-weight: bold;
  padding-top: 5px;
}

#ourProvidersFullSection {
  display: flex;
  flex-direction: row;
}

#ourProvidersProfile {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 0 5px;
  max-height: 600px;
}

#ourProvidersBottomSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#ourProvidersEdu {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}

#ourProvidersBio {
  margin-bottom: 7px;
}

#ourProvidersInterests {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}

#ourProvidersInt {
  margin-bottom: 7px;
}

#ourProvidersInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#ourProvidersPic {
  max-width: 600px;
}

#ourProvidersName {
  color: #AF3120;
  padding-bottom: 10px;
}

#ourProvidersNames {
  display: block;
}

#ourProvidersIhapSection {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  column-count: 3;
}

#ourProvidersIhap {
  padding: 10px 0 0 10px;
  height: 50px;
  width: 220px;
  border: solid .5px;
  height: 100%;
}

#ourProvidersState {
  font-size: 19px;
}

#ourProvidersTopWhiteSpace {
  height: 55px;
}

#ourProvidersHalfWhiteSpace {
  height: 40px;
}

#ourProvidersWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* ______________________________ Our Services ______________________________ */


/* -------------------------------------------------------------------------- */

/* ___________________________ Our Privacy Policy ___________________________ */


/* -------------------------------------------------------------------------- */

/* _______________________________ Contact Us _______________________________ */
#contactUsMainContainer {
  max-width: 1250px;
  margin: auto;
}

#contactUsIcon {
  color: #AF3120;
}

#contactUsOffice {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 150px;
}

#contactUsFax {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 150px;
}

#contactUsFemaleImage {
  padding: 10px 0 0 130px;
}

#contactUsProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  min-width: 1250px;
  flex-wrap: wrap;
}

#contactUsProfile {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  padding-bottom: 20px;
}

#contactUsNames {
  font-size: 14.5px;
  padding-left: 6px;
  margin-bottom: 0px;
  max-width: 350px;
}

#contactUsMapInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
  padding-bottom: 0;
}

#contactUsOfficeInfo {
  font-weight: normal;
  font-size: 17px;
}

#contactUsFaxInfo {
  font-weight: normal;
  font-size: 17px;
}

.contactUsProviderInfo {
  font-size: 14px;
  max-width: 350px;
}

#contactUsLeft {
  padding-right: 20px;
}

#contactUsMiddle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px 0 20px;
}

#contactUsRight {
  padding-left: 20px;
}

#contactUsInsideInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35px;
}

#contactUsContact {
  display: flex;
  flex-direction: column;
}

#contactUsDividerProfile {
  margin: 6px 0 6px 3px;
}

#contactUsSubTitle {
  padding: 5px 0 14px 0;
}

#contactUsSubH3 {
  font-weight: bold;
  font-size: 23px;
}

#contactUsSubText {
  padding-left: 40px;
}

#contactUsSubP{
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

.contactUsDirections {
  padding-left: 20px;
  color: #515151;
  font-weight: normal;
  font-size: 16px;
}

#contactUsTopWhiteSpace {
  height: 40px;
}

#contactUsWhiteSpace {
  height: 80px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ Footer _________________________________ */
#footerContainer {
  background-color: #1C1C1C;
  height: 100px;
  width: 100%;
  bottom: 0;
}

#footerMainContainer {
  max-width: 1250px;
  margin: auto;
}

#footerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerCopyright {
  font-size: 14px;
  padding: 25px 0 0 30px;
  color: #878787;
}

#footerLinkCopyright {
  font-size: 14px;
}

#footerNavContainer {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#footerNav {
  margin-right: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.footerEachNav {
  font-size: 14px;
  color: white;
}
/* -------------------------------------------------------------------------- */
/* ========================================================================== */



/* ============================= TABLET Version ============================= */
@media (min-width: 426px) and (max-width: 769px) {
#appContainer {
  max-width: 765px;
}
/* ________________________________ TopMenu ________________________________ */
#topMenuMenuContainer {
  display: none;
}

#topMenuBar {
  max-width: 765px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ NavBar _________________________________ */
#NavbarContainer {
  max-width: 765px;
}

#NavbarEachNav {

}

#NavbarStyledImage {
  margin: 0;
}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */
.CarouselContainer {
  max-width: 765px;
  padding: 0 0 10px 20px;
}

.FrontPagePhoto {
  max-width: 765px;
}
/* -------------------------------------------------------------------------- */

/* ________________________________ About Us ________________________________ */


/* -------------------------------------------------------------------------- */

/* _____________________________ Our Providers _____________________________ */


/* -------------------------------------------------------------------------- */

/* ______________________________ Our Services ______________________________ */


/* -------------------------------------------------------------------------- */

/* ___________________________ Our Privacy Policy ___________________________ */


/* -------------------------------------------------------------------------- */

/* _______________________________ Contact Us _______________________________ */


/* -------------------------------------------------------------------------- */

/* _________________________________ Footer _________________________________ */


/* -------------------------------------------------------------------------- */
}
/* ========================================================================== */



/* ============================= MOBILE VERSION ============================= */
@media (max-width: 426px) {

/* ________________________________ TopMenu ________________________________ */
#topMenuMenuContainer {
  display: none;
}

#topMenuBar {
  max-width: 426px;
}
/* -------------------------------------------------------------------------- */

/* _________________________________ NavBar _________________________________ */
#navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navBarStyledImage {
  margin: 10px 0 5px 10px;
  max-height: 6.7em;
}

#navBarNav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5em;
  max-width: 300px;
}

.navBarEachNav {
  font-size: 1em;
  color: black;
  font-weight: bold;
}

#imageDividerContainer {
  height: 100%;
  width: 100%;
}

#imageDivider {

}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */


/* -------------------------------------------------------------------------- */

/* ________________________________ About Us ________________________________ */
#aboutUsMainContainer {
  max-width: 1175px;
  margin: auto;
}

#aboutUsTitleContainer {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#aboutUsTitle {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

#aboutUsFlexBox {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

#aboutUsAllText {
  display: flex;
  flex-direction: column;
}

#aboutUsPhoto {
  padding: 0 10px 40px 10px;
  width: 100%;
}

.aboutUsSubTitle {
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
}

.aboutUsSubTextContainer {
  padding-left: 10px;
}

.aboutUsSubText {
  color: #515151;
  font-weight: normal;
  font-size: 14px;
}

.aboutUsContacts {
  padding-left: 10px;
}

.aboutUsWhiteSpace {
  height: 40px;
}
/* -------------------------------------------------------------------------- */

/* _____________________________ Our Providers _____________________________ */


/* -------------------------------------------------------------------------- */

/* ______________________________ Our Services ______________________________ */


/* -------------------------------------------------------------------------- */

/* ___________________________ Our Privacy Policy ___________________________ */


/* -------------------------------------------------------------------------- */

/* _______________________________ Contact Us _______________________________ */


/* -------------------------------------------------------------------------- */

/* _________________________________ Footer _________________________________ */
#footerContainer {
  background-color: #1C1C1C;
  height: 100px;
  width: 100%;
  bottom: 0;
}

#footerMainContainer {
  max-width: 1250px;
  margin: auto;
}

#footerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerCopyright {
  font-size: 12px;
  padding: 15px 0 0 15px;
  color: #878787;
}

#footerLinkCopyright {
  font-size: 12px;
}

#footerNavContainer {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footerNav {
  margin-right: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.footerEachNav {
  font-size: 12px;
  color: white;
}
/* -------------------------------------------------------------------------- */
}
